In [10]:
import pandas as pd
import geopandas as gpd
import os
import json

In [4]:
os.chdir('D:/bachelors/datasets/')

In [5]:
bounds = gpd.read_file('../qgis/base/Netherlands_communes.gpkg')

In [6]:
nodes = [i for i in os.listdir('analysis/yearly_graphs_v2/total/') if 'nodes_' in i and '.csv' in i]

In [11]:
with open('Variables/mappers/communes_names_toRussian_map.json') as infile:
    rus_names = json.load(infile)

In [18]:
dfList = []
for node in nodes:
    nd = pd.read_csv('analysis/yearly_graphs_v2/total/' + node)[['commune', 'flow_cent']].rename(columns = {'commune' : 'NAME'})
    bd_year = bounds.merge(nd, on = 'NAME', how = 'left').assign(
        year = int(node.split('_')[-1].split('.')[0])
    )
    dfList.append(bd_year)

In [38]:
full_gdf = pd.concat(dfList)

In [39]:
import datetime as dt

In [40]:
full_gdf['year'] = full_gdf['year'].apply(lambda x: dt.datetime.strptime(str(x), '%Y'))

In [36]:
full_gdf['year'] = pd.to_datetime(full_gdf['year'], unit = 'Y')

In [41]:
full_gdf.to_file('KEPLER.geojson', driver = 'GeoJSON')

In [14]:
node = nodes[0]

In [17]:
int(node.split('_')[-1].split('.')[0])

2004

In [12]:
bounds.head()

,NAME,POPULATION,Area,DENSITY,geometry
0,Aa en Hunze,25390,279914646,90.71,"MULTIPOLYGON (((6.94484 52.99216, 6.93764 52.9..."
1,Assen,67708,83621452,809.70,"MULTIPOLYGON (((6.56860 52.94577, 6.55969 52.9..."
2,Borger-Odoorn,25351,272907572,92.89,"MULTIPOLYGON (((7.02043 52.87131, 7.01917 52.8..."
3,Coevorden,35299,299357668,117.92,"MULTIPOLYGON (((6.81502 52.64786, 6.81413 52.6..."
4,De Wolden,23917,226940619,105.39,"MULTIPOLYGON (((6.45437 52.78520, 6.45427 52.7..."